Import relevant packages

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
class node:
    
    def __init__(self,dataset,condition,gini,num_of_samples,values,class_value):
        self.dataset=dataset
        self.left = None
        self.right = None
        self.condition=condition
        self.gini=gini
        self.num_of_samples=num_of_samples
        self.values=values
        self.class_value=class_value

Load data from csv file and define a classfier

In [6]:
real_estate=pd.read_csv('data.csv')
classfier_arr=np.array(real_estate['area_type'])
display(real_estate)

,Unnamed: 0,area_type,availability,bedrooms,total_sqft,bath,balcony,ranked,price in rupees
0,0,B,1,3.0,1655.0,3.0,1.0,134,10800000.0
1,1,B,1,2.0,1102.0,2.0,1.0,134,4800000.0
2,2,B,0,2.0,1112.0,2.0,1.0,242,8800000.0
3,3,B,1,3.0,1450.0,3.0,3.0,335,5100000.0
4,4,B,1,2.0,1010.0,2.0,1.0,261,4100000.0
...,...,...,...,...,...,...,...,...,...
12558,12558,B,1,3.0,1720.0,3.0,3.0,134,9897000.0
12559,12559,B,0,3.0,1275.0,3.0,2.0,276,4400000.0
12560,12560,P,1,2.0,1550.0,2.0,1.0,252,7100000.0
12561,12561,B,1,3.0,1535.0,3.0,1.0,307,7200000.0
12562,12562,B,1,1.0,400.0,1.0,1.0,435,2500000.0

Gini calculator function

array(B,P)

In [7]:
def gini(attr_array,splitter, classffier_arr):
    groupA=np.array([0,0])
    groupB=np.array([0,0])
    for i in range(len(attr_array)):
        if attr_array[i]<splitter:
            if classffier_arr[i]==str('B'):
                groupA[0]+=1
            else:
                groupA[1]+=1
        else:
            if classffier_arr[i]==str('B'):
                groupB[0]+=1
            else:
                groupB[1]+=1
    
    
    
    
    giniA=(1-(groupA[0]/(groupA[0]+groupA[1]))**2-(groupA[1]/(groupA[0]+groupA[1]))**2)
    giniB=(1-(groupB[0]/(groupB[0]+groupB[1]))**2-(groupB[1]/(groupB[0]+groupB[1]))**2)
    total_gini=(np.sum(groupA)/len(attr_array))*giniA+(np.sum(groupB)/len(attr_array))*giniB
    return total_gini
print(gini(real_estate['availability'],0.5,classfier_arr))

0.2471903483756467

In [8]:
def best_gini(attr_array):
    unique_attr_array=np.unique(attr_array)
    min_gini=1
    splitter=0
    for i in range((len(unique_attr_array)-1)):
        temp_gini= gini(attr_array,np.mean(unique_attr_array[i:i+2]),classfier_arr)
        if temp_gini<min_gini:
            min_gini=temp_gini
            splitter=np.mean(unique_attr_array[i:i+2])
        
    return min_gini,splitter
print(best_gini(real_estate['availability']))

(0.2471903483756467, 0.5)

In [ ]:
def choose_col(df):
    col=''
    splitter=0
    min_gini=1
    for column in df:
        temp_gini,temp_splitter=best_gini(df[column])
        if temp_gini<min_gini:
            min_gini=temp_gini
            splitter=temp_splitter
            col=column.name
        print(col)
        print(splitter)
        print(min_gini)
choose_col(real_estate)